# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
notes

# OS / system files
Thumbs.db
ehthumbs.db

# Firebase emulators (if you ever use them)
.firebase/

# Vite cache
.vite

# dotenv backups or temp
.env.local
.env.*.local

# Mac/Linux swap files
*.swp
